.Container{
  display: flex;
  flex-direction: column;
}
.AppName{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Header{
  background-color: rgba(25, 61, 204, 0.638);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 3px 6px 0 #555;
  width: 1420px;
  height: 300px;
}
.SearchBox{
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  border-radius: 6px;
  margin-left: 20px;
  width: 30%;
  background-color: white;
}
.SearchIcon{
  width: 32px;
  height: 32px;
}
.MovieImage{
  width: 48px;
  height: 48px;
  margin: 15px;
}
.SearchInput{
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-left: 15px;
}
.MovieListContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  gap: 25px;
  justify-content: space-evenly;;
}
.Placeholder{
  width: 120px;
  height: 120px;
  margin: 150px;
  opacity: 50%;
}