.Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  

.CoverImage{
  object-fit:contain;
  height: 350px;
  margin: 25px;
}

.InfoColumn{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.MovieName{
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
  
}

.MovieName span{
    opacity: 0.8;
    color: black;
  }

.MovieInfo span {
    opacity: 0.5;
    color: black;
  }

.MovieInfo{
  font-size: 16px;
  font-weight: 500;
  color: black;
  overflow: hidden;
  margin: 4px 0;
  text-transform: capitalize;
  text-overflow: ellipsis;
  text-align: center;
}

.Close{
  font-size: 36px;
  font-weight: 600;
  color: black;
  background: rgb(219, 22, 22);
  height: fit-content;
  padding: 8px;
  cursor: pointer;
  opacity: 0.8;
  text-align: center;
  margin: 45px;
  width: 92.4%
}

.Parent {
  display: -webkit-inline-box; 
  flex-direction: row; 
  top: 22%;
  position: fixed; 
  height: auto;
  z-index: 10;
  background: rgb(213, 213, 210);
  margin: 18px 45px;
  width: 75%;
}

.child1 {
  width: 40%;
  height: 350px;
  text-align: center;
  padding: 35px;
}

.child2 {
  width: 60%;
  padding: 10px;
  height: 350px;
  margin: 50px;
  color: black;
}


.Modal {
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
