.MovieContainer{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 280px;
  box-shadow: 0 3px 10px 0 #aaa;
  cursor: pointer;
  background-color: #8988;
  color:aquamarine;
}

.CoverImage{
  object-fit: cover;
  height: 362px;
}

.MovieName{
  font-size: 18px;
  font-weight: 600;
  color: rgba(85, 162, 140, 0.133);
  margin: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.InfoColumn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MovieInfo{
  font-size: 16px;
  font-weight: 500;
  color: rgba(190, 80, 80, 0.691);
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

